body {
  margin-left: 10%;
  margin-right: 10%;
}
button.block {
  display: block;
  width: 100%;
}
hr {
  border-width: 0;
  border-top: 1px solid #ccc;
}
.card {
  padding: 12px;
}
#status {
  float: right;
  font-size: 1rem;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}
a:hover {
  text-decoration: underline;
}
